* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background-color: white;
}

.App {
  display: grid;
  grid-template-columns: 20rem 1fr;
}

.page {
  background-image: linear-gradient(#efefef 0%, #dcdcdc 60%);
  height: 100dvh;
}
