.todo {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo__title {
  font-size: 3.5rem;
  font-weight: bold;
  margin-top: 2rem;
  padding: 2rem;
  color: white;
  text-align: center;
  background-image: linear-gradient(90deg, #efefef 0%, #dcdcdc 40%);
  width: 90%;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-radius: 0.5rem;
  text-shadow: 0.2rem 0.2rem 0.8rem black;
  box-shadow: 0.1rem 0.1rem 0.6rem black;
}
